*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
app/**/output-metadata.json
local.properties
apikey.properties
/apikey.properties
signing.properties
/signing.properties
